<a href="https://colab.research.google.com/github/Abhijeetgithub1/python-practice/blob/main/Floyd's_tringle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input("enter the no"))
num=1
for row in range(1,n+1):
    for col in range(1,row+1):
        print(num,end="  ")
        num=num+1
    print()

enter the no10
1
2  3
4  5  6
7  8  9  10
11  12  13  14  15
16  17  18  19  20  21
22  23  24  25  26  27  28
29  30  31  32  33  34  35  36
37  38  39  40  41  42  43  44  45
46  47  48  49  50  51  52  53  54  55

when row is 1 we want 1 col and foe row 2 col is 2 so on .....